 
<!-- <div *ngIf="student">
  
  <h2>{{student.StudentName | uppercase}} Details</h2>
 
  <div><span>id: </span>{{student.Student_Id}}</div>
  
  <div>
      <label>name:
          <input [(ngModel)]="student.StudentName" placeholder="ur name"/>
          <input [(ngModel)]="student.Student_Id" placeholder="ur name"/>
      </label>
  </div>
   -->
   <table *ngIf="student">
    <thead>
        <tr>
            <th colspan="2">
                student Details
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>student ID</td>
            <td>{{student.Student_Id}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{student.StudentName}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{student.Email}}</td>
        </tr>
       
    </tbody>
</table>

  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
    