<table *ngIf="student">
    <thead>
        <tr>
            <th colspan="2">
                student Details
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>student ID</td>
            <td>{{student.Student_Id}}</td>
        </tr>
        <tr>
            <td>student Name</td>
            <input [(ngModel)]="student.StudentName" placeholder="new name"/>
        </tr> <tr>
            <td>student Email</td>
            <td>{{student.Email}}</td>
        </tr>
        {{student.id | json }}
    </tbody>
</table>

  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>